<div class="w-full flex justify-center">
  <app-card>
    <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()" class="flex flex-col w-fit">
      <label>Email</label>
      <app-input type="email" placeholder="" formControlName="email" />

      <label>Password</label>
      <app-input  type="password" placeholder="" formControlName="password" class="mb-2" />
      @if(error){
      <span class="px-2 text-sm py-1 bg-red-200 border border-red-500 rounded-md mb-2">{{error}}</span>
      }

      <button type="submit" class="bg-green-600 text-white rounded-md px-2 py-1 disabled:opacity-50 mb-2"
        [disabled]="loginForm.invalid">
        Log in
      </button>
      <span class="text-sm wrap italic text-neutral-500">Don't have an account? <a class="underline" [routerLink]="['/register']">Register</a></span>

    </form>
  </app-card>
</div>
