<app-card >
    <form [formGroup]="registerForm" (ngSubmit)="handleSubmit()" class="flex flex-col w-fit">
      <label>Name</label>
      <app-input type="text" placeholder="" formControlName="display_name" />

      <label>Username</label>
      <app-input type="text" placeholder="" formControlName="username" />

      <label>Email</label>
      <app-input type="email" placeholder="" formControlName="email" />

      <label>Password</label>
      <app-input type="password" placeholder="" formControlName="password" />

      <label>Confirm password</label>
      <app-input type="password" placeholder="" formControlName="password_confirmation" />

      <button type="submit">Register</button>
    </form>
</app-card>
